//
@import "~bootstrap";

body {
    background-color: rgb(46, 51, 66);
}

main {
    display: flex;
    justify-content: center;
}

.cards-container {
    width: 900px;
    display: flex;
    gap: 1rem;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.025);
    transition: 1s;
}
